[submodule "ddnet-libs"]
	path = ddnet-libs
	url = https://github.com/ddnet/ddnet-libs
	shallow = true
[submodule "scripts/ddnet-insta-cli"]
	path = scripts/ddnet-insta-cli
	url = https://github.com/ddnet-insta/cli.git
[submodule "src/insta/server/ddnet_db_utils"]
	path = src/insta/server/ddnet_db_utils
	url = https://github.com/ddnet-insta/ddnet_db_utils.git
